.div {
	--s: 150px; /* control the size */

	--_g: #0000 90deg, #046d8b 0;
	background: conic-gradient(from 116.56deg at calc(100% / 3) 0, var(--_g)),
		conic-gradient(from -63.44deg at calc(200% / 3) 100%, var(--_g)) #2fb8ac;
	background-size: var(--s) var(--s);
}
